body {
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
}

#assignments-container {
  background-color: #8ac4f4;
}

.assignment-name {
  color: #8ac4f4;
}

.assignment-grade {
  width: 10%;
  margin-right: 10px;
  align-self: center;
}