* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fbfbfb;
  color: #fbfbfb;
}
h1 {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  color: slategray;
  margin-bottom: 1.5rem;
}
.row {
  box-sizing: border-box;
  width: 22%;
  height: 15rem;
  margin: 1rem;
  padding-bottom: 2rem;
}
.stack {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.large {
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 30rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.row > h3, .large > h2 {
  padding: 2rem;
  text-align: center;
}
.large > h2 {
  padding: 0.5rem;
}
.red { background-color: #f54746;}
.yellow {background-color: #ffc413;}
.green {background-color: #87d37b;}
.blue {background-color: #8ac4f4;}
.assignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  background-color: white;
  margin: 15px;
 
}
.assignment-name,
.assignment-desc,
.assignment-due-date {
  color: black;
  width: 25%;
  margin-right: 10px;
  align-self: center;
}

.row {
  position: relative;
}
.fa {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  bottom: 0.5rem;
  text-decoration: none;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 0.5rem;
  background-color: white;
  border: solid white 2px;
  border-radius: 5px;
}


@media (max-width: 1090px) {
  
  .row {
    width: 47%;    
  }
  .right{
    margin-left: 0.5rem;
  }
  .left {
    margin-right: 0.5rem;
  }
  .stack {
    margin: 1rem auto;
  }
}

@media(max-width: 825px) {
  .row {
    width: 96%;
    margin: 1rem auto;
    margin-bottom: 1rem;
  }
}

