* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #fbfbfb;
    color: #fbfbfb;
  }
  h1 {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    color: slategray;
    margin-bottom: 1.5rem;
  }
  .row {
    width: 22%;
    height: 15rem;
    margin: 1rem;
    padding-bottom: 2rem;
  }
  .stack {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .large {
    box-sizing: border-box;
    padding: 1rem;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 30rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .row > h3, .large > h2 {
    padding: 2rem;
    text-align: center;
  }
  .large > h2 {
    padding: 0.5rem;
  }
  .red { background-color: #f54746;}
  .yellow {background-color: #ffc413;}
  .green {background-color: #87d37b;}
  .blue {background-color: #8ac4f4;}
  .assignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    background-color: white;
    margin: 15px;
   
  }
  .assignment-name,
  .assignment-desc,
  .assignment-due-date,
  .assignment-checkbox {
    color: black;
    width: 25%;
    margin-right: 10px;
    align-self: center;
  }
  
  .assignment-checkbox {
      width: 5%;
      margin: 0;
      align-self: center;
  }
  #assignment-list {
    height: 85%;
    overflow: hidden;
    overflow-y: scroll;
  
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #assignment-list > li {
    margin-bottom: 5px;
  }
  .fa {
    color: white;
    position: absolute;
    padding-top: 7rem;
    padding-left: 8rem;
  }
  .fa-user
  {
    padding-left: 9rem;
  }
  @media (max-width: 835px) {
    .block {
      width: 100%;
    }
    .square .width {
      width: 100%;
      flex-wrap: wrap;
    }
    .row {
      width: 49%;
      height: 12rem;
    }
  }
  