body {
  margin: 0px;
}

#flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  flex-wrap: wrap;
  position: absolute;
}

#blue {
  width: 49.7%;
  height: 50%;
  margin-right: 0.5%;
  background-color: #8ac4f4;
  text-align: left;
}

.fa {
  padding: 50px;
  color: white;
  margin: 10px;
}

#red {
  width: 49.7%;
  height: 50%;
  background-color: #f54746;
  text-align: right;
}

#green {
  width: 49.7%;
  height: 50%;
  margin-top: 0.5%;
  margin-right: 0.5%;
  background-color: #87d37b;
  text-align: left;
}

.fa-calendar {
  padding-top: 200px;
}

#yellow {
  width: 49.7%;
  height: 50%;
  margin-top: 0.5%;
  background-color: #ffc413;
  text-align: right;
}

.fa-bell {
  padding-bottom: 50px;
  padding-top: 200px;
}

#container,
#container2,
#container3 {
  width: 75%;
  padding: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: white;
  border-radius: 25px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  left: 0;
  right: 0;
  z-index: 10;
}

#container2 {
  margin-top: 1rem;
}
#container3 {
  width: 60%;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

button {
  background-color: #87d37b;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 8px 16px;
  background-color: #f54746;
}

a {
  text-decoration: none;
}

span.psw {
  float: right;
  padding-top: 16px;
}
