nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;

    list-style: none;
}

nav > ul > li {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 10px 10px 0px 0px;

    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav > ul > li > a:hover {
    opacity: 50%
}

#main-container {
    margin: auto;

    width: 90vw;
    height: 90vh;
}

#container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;

    border-radius: 0px 10px 10px 10px;
}

#assignments-container {
    margin: auto;
    padding: 1%;
    
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255);

    border-radius: 5px;
}

.assignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1%;
    border: 1px solid black;
}

.form-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 280px;
}

.form-popup {
    /* display: none; */
    position: fixed;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;

    border: 3px solid #f1f1f1;
    background-color: rgb(168, 168, 168);

    z-index: 9;
}

.form-popup > form {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.form-popup > form input, .form-popup > form textarea{
    width: 80%;
    padding: 5px;
    margin-bottom: 2%;
    border: none;
    background: #f1f1f1;
}

#desc {
    resize: none;
}

