h3 {
  margin: 0;
}

h1 {
  color: white;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0px;
  list-style: none;
  margin-bottom: 0px;
}

nav > ul > li {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 50px;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

nav > ul > li > a:hover {
  opacity: 50%;
}

#main-container {
  box-sizing: border-box;
  width: 100%;
  height: 84vh;
  margin-bottom: 5px;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f3f4;
}

#assignments-container {
  margin: auto;
  padding: 1%;
  width: 90%;
  height: 80%;
  border-radius: 5px;
}

.assignments-header {
  display: flex;
  flex-direction: row;
  align-content: center;

  justify-content: space-between;
}

.assignments-header > h1 {
  margin: 1%;
  align-self: center;
}

.assignment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  background-color: white;
  margin: 15px;
}

.assignment-name,
.assignment-desc,
.assignment-due-date {
  width: 25%;
  margin-right: 10px;
  align-self: center;
}

#assignment-list {
  height: 85%;
  overflow: hidden;
  overflow-y: scroll;

  list-style: none;
  margin: 0;
  padding: 0;
}

#assignment-list > li {
  margin-bottom: 5px;
}
