* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
}
body {
  background-color: #fbfbfb;
  color: #fbfbfb;
}
h1 {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  color: slategray;
  margin-bottom: 1.5rem;
}

.block {
  float: left;
  height: 30rem;
  width: 48%;
}
div {
  padding: 0.5rem;
}
.wide {
  margin: 0.5rem;
}
.width {
  float: left;
  width: 99%;
  align-content: center;
}
.square {
  display: flex;
}
.width > .row {
  margin: 0.25rem;
}
.width > .blue {
  margin-left: 0;
}
.width > .red {
  margin-right: 0;
}
.row {
  width: 25%;
  height: 9rem;
}
.column {
  box-sizing: border-box;
  float: left;
}
.stack {
  display: flex;
  overflow: hidden;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stack > .row {
  width: 48%;
  height: 14.5rem;
}
.test {
  margin-bottom: 1rem;
}
.large {
  width: 98%;
  float: left;
  margin: 0.5rem;
}
.block > h2,
.row > h3 {
  text-align: center;
  padding: 1rem;
}
.red {
  background-color: #f54746;
}
.yellow {
  background-color: #ffc413;
}
.green {
  background-color: #87d37b;
}
.blue {
  background-color: #8ac4f4;
}
@media (max-width: 835px) {
  .block {
    width: 98%;
  }
  .square .width {
    width: 100%;
    flex-wrap: wrap;
  }
  .row {
    width: 49%;
    height: 12rem;
  }
}
