* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: slategrey;
    color: #fbfbfb;
}
h1 {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
}
main {
    max-width: 75rem;
    margin: 1rem auto;
}
#container {
    display: flex;
    align-content: center;
    margin: 1rem;
}
.main-block {
    display: inline-block;
    height: 30rem;
    width: 49%;
}
.main-block > h2 {
    text-align: center;
    padding: 1rem;
}
#home {
    background-color: #F54746;
}
#assignment {
    background-color: #FFC413;
}
#completed {
    background-color: #87D37B;
}
#graded {
    background-color: #8AC4F4;
}